# See http://help.github.com/ignore-files/ for more about ignoring files.

# Angular specific
/.angular
src/assets/styles/output.css

# Compiled output
/bazel-out
/dist
/out-tsc
/tmp

# Development files
.cursorrules
package-lock.json

# IDEs and editors
.c9/
.classpath
.history/*
.idea/
.project
.settings/
*.launch
*.sublime-workspace

# Miscellaneous
/connect.lock
/coverage
/libpeerconnection.log
/typings
.sass-cache/
testem.log

# Node
/node_modules
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
