<div class="flex flex-col h-screen overflow-hidden text-lightprimary">
	<app-header
		[showComposer]="showComposer()"
		(selectFolder)="onSelectFolder()"
		(reloadFolder)="onReloadFolder()"
		(toggleComposer)="onToggleComposer()"
		(openSettings)="onOpenSettings()"
	></app-header>

	<main class="flex flex-1 min-h-0 overflow-hidden">
		<section
			id="file-view"
			[class]="showComposer() ? 'w-1/2' : 'w-full'"
			class="border-r border-darkprimary p-6 overflow-y-auto transition-all"
		>
			<app-loading-spinner *ngIf="isLoadingFolder()"></app-loading-spinner>
			<app-file-tree
				*ngIf="!isLoadingFolder()"
				[nodes]="fileTree()"
				(fileCopy)="onIndividualCopy($event)"
			></app-file-tree>
		</section>
		<section
			*ngIf="showComposer()"
			id="prompt-composer"
			class="w-1/2 flex flex-col bg-darkbg"
		>
			<app-prompt-composer
				[promptTemplate]="promptTemplate"
				[fileTemplate]="fileTemplate"
				[isCopying]="isCopying()"
				(fileTemplateChange)="fileTemplate.set($event)"
				(promptTemplateChange)="promptTemplate.set($event)"
				(copyPrompt)="onCopyPrompt()"
			></app-prompt-composer>
		</section>
	</main>
</div>
<app-toast></app-toast>
<app-settings-modal
	*ngIf="showSettings()"
	(close)="showSettings.set(false)"
></app-settings-modal>