<div id="toast-container" class="fixed bottom-4 left-4 space-y-1.5 z-50">
	<div
		*ngFor="let toast of toastService.toasts()"
		(click)="toastService.removeToast(toast)"
		class="bg-darkprimary/90 backdrop-blur-sm px-3 py-2 rounded-lg cursor-pointer transition-all shadow-lg hover:shadow-xl hover:bg-neutral-700/90 flex items-center gap-1.5 max-w-md border border-neutral-700/30 text-xs text-neutral-100"
	>
		<img
			src="assets/icons/info.svg"
			alt="info"
			class="w-3.5 h-3.5 opacity-60"
		/>
		<span class="whitespace-normal">{{ toast }}</span>
	</div>
</div>
